<h2><%= @play.title %></h2>
<h3><%= @play.director %></h3>
<% if @play.category_id? %>
  <h4><%= @play.category.name %></h4>
<% end %>
<p><%= @play.description %></p>

<% if user_signed_in? %>
  <% if @play.user_id == current_user.id %>
    <%= link_to "Edit", edit_play_path, class: 'btn btn-primary' %>
    <%= link_to "Delete", play_path(@play), class: 'btn btn-danger', method: :delete, data: {confirm: "Etre vous sur ?"} %>
  <% end %>
<% end %>
